* {
  font-family: "Sora", serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: #192F3F;
}

a {
  text-decoration: none;
  color: #192F3F;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.introWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#BBE2FF, white);
}

.introWrap h1 {
  font-size: 38px;
  font-weight: bold;
}

.introWrap p {
  font-size: 20px;
  font-weight: 500;
}

.menu {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  min-width: 600px;
  justify-content: space-around;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.1);
}
.menu a {
  height: 40px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
.menu a:hover {
  box-shadow: inset 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #DBF0FF;
  font-weight: bold;
}

.menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu div {
  display: flex;
  gap: 15px;
  align-items: center;
}

.menuTab {
  gap: 0;
}

.contentsWrap {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #BBE2FF, 10%, white);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.section {
  scroll-snap-align: start;
  opacity: 0;
  transition: all 1s;
}

.profileWrap {
  width: 7500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.profileWrap .btn {
  height: 100px;
  width: 100px;
}

.profileWrap .btn.off {
  filter: invert(76%) sepia(21%) saturate(139%) hue-rotate(169deg) brightness(88%) contrast(92%) opacity(0.3);
}

.profileWrap .btn.btn_leftT {
  background: url("../image/icon/leftTrangle.png") no-repeat;
  border: 0;
}

.profileWrap .btn.btn_rightT {
  background: url("../image/icon/rightTrangle.png") no-repeat;
  border: 0;
}

.profileTitle {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.profileTitle span {
  display: flex;
  gap: 5px;
  align-items: flex-end;
  padding-bottom: 5px;
}

.profileTitle h4 {
  font-size: 20px;
  font-weight: 400;
}

.profileTitle h5 {
  font-size: 17px;
  font-weight: 400;
}

.profileTitle p {
  font-size: 16px;
  font-weight: 300;
}

.category {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9FCFF;
  border-radius: 20px 20px 0 0;
  font-size: 24px;
  font-weight: 700;
  transition: all 0.5s;
  box-shadow: inset 5px -3px 3px rgba(0, 0, 0, 0.2) !important;
}
.category.on {
  background-color: #DBF0FF;
  box-shadow: 17px -2px 5px 0px rgba(0, 0, 0, 0.2) !important;
}
.category:hover {
  background-color: #BBE2FF;
}

.profileImg {
  position: absolute;
  width: 130px;
  height: 180px;
  top: 30px;
  right: 60px;
}

.profileTriangle {
  height: 70px;
  width: 200px;
  position: relative;
  bottom: 46px;
  left: 28px;
}

.profileBoxWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.profileBox {
  width: 600px;
  height: 400px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
}

.boxContents {
  padding: 30px;
  position: relative;
  width: 100%;
  background: url("../image/img/backgroundPolygon.png") no-repeat right bottom;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.visible {
  display: block;
  opacity: 1;
}

.off {
  pointer-events: none;
  opacity: 0.5;
}

.boxContents h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 10px;
}

.boxContentsDetail {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxContentsDetail p {
  font-family: "MaruBuri", serif;
  font-weight: 300;
  font-size: 16px;
}

.boxContentsDetail div {
  display: flex;
  gap: 15px;
}

.specWrap {
  flex-direction: column;
  gap: 5px !important;
}
.specWrap .spec {
  gap: 5px !important;
}

.moreWrap .profileTitle {
  justify-content: flex-end;
}

.seeMore {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  padding-left: 50px;
}

.visitor {
  position: absolute;
  right: 20px;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #F9FCFF;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
  position: relative;
}

/* effects */
.shadowBottom {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(38, 53, 65, 0.3137254902);
}

.shadowIn {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=index.css.map */